
header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}

.bg-primary {
  background-image: url(https://parker45.github.io/img/background.jpg) !important;
}
